# MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/next_master?retryWrites=true&w=majority

# Secret for Authentication (NextAuth or JWT)
NEXTAUTH_SECRET=your_super_secret_key_here

# The URL of your site (local for now)
NEXTAUTH_URL=http://localhost:3000